.main {
  background-color: var(--bodyBgClr2);
  padding: 1rem;
  border-radius: 8px;
  border: 1px dashed #ccc;
  width: 100%;
  min-height: 260px;
}

.banner {
  border-radius: 12px;
  background-color: var(--pBgClr);
  width: 100%;
  max-width: 100%;
}

.dummy {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  color: #ccc;
  border: 1px dashed #ccc;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 12px;
  min-height: 260px;
}

.banner p {
  color: var(--textCls);
  line-height: 1.7;
  width: 100%;
  max-width: 100%;
  letter-spacing: 0.4px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.img {
  width: 28px;
  object-fit: contain;
}

.uDetail {
  border: 1px solid var(--imgBg);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.8rem;
  border-radius: 10px;
  width: calc(50% - 1rem);
  cursor: pointer;
  position: relative;
  /* width: 100%; */
}

.detail {
  color: #1d1d1d;
  line-height: 1.4;
  /* -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.title {
  letter-spacing: 0.6px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.name {
  font-weight: 500;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropzone {
  min-height: 200px;
  width: 100%;
  background-color: lightblue;
}

.delete {
  opacity: 0;
  display: block;
  position: absolute;
  right: 1rem;
  top: 10px;
}

.uDetail:hover .delete {
  opacity: 1;
  transition: opacity 0.2s;
}

.deleteIcon {
  font-size: 1.8rem;
  color: #979797;
}
@media (max-width: 756px) {
  .main {
    padding: 0;
    margin: 0;
    /* padding: 1rem; */
    padding: 1rem 0;
  }
  .uDetail {
    /* width: calc(50% - 1rem); */
    width: calc(100% - 1rem);
   
  }
  

  .banner {
    padding: 0;
    margin: 0;
    padding: 1rem;
    margin: 2rem 0;
  }
  .title {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .img {
    width: 40px;
  }
  .list {
    padding: 0 1rem;
    justify-content: center;
  }
}
