@media (min-width: 756px) {
  .tenets::-webkit-scrollbar {
    display: none;
  }
}

.tenets {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  width: 100%;
  /* margin: 1rem; */
}

.imaseSec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tenet {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgreen;
  padding: 1rem;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 1rem;

  flex-direction: column;
  align-items: flex-start;
  /* width: 300px; */
  gap: 0.6rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    border-color: green;
    transform: scale(1.04);
    transition: transform 0.4s ease;
  }
}

.leaderTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  color: green;
  font-weight: 600;
}

.tenetDummy {
  width: 100%;
  border: 1px dashed #ccc;
  padding: 1.5rem;
  border-radius: 12px;

  text-align: center;
  font-style: italic;
  color: #ccc;

  margin-bottom: 1rem;
}
.removeIcon {
  font-size: 2rem;
  color: #7e7e7e;
  cursor: pointer;
  opacity: 0;
}

.tenet:hover .removeIcon {
  opacity: 1;
  transition: opacity 0.4s;
}

.telImage {
  width: 32px;
  display: block;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 756px) {
  .main {
    display: block;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .potrateParent {
    position: static;
  }
  .imageBg {
    position: static;
  }

  .viewSec {
    display: block;
    gap: 0;
    padding: 0;
    margin: 0;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bars {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16%;
    left: 27%;
    transform: translate(-50%, -50%);
  }

  .portrateChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .imageBg {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .tenets {
    padding: 0;
    margin: 0;
    gap: 0;
    display: block;
    padding: 1rem;

    margin: 1rem 0;
  }
  .tenets button {
    width: 100%;
    padding: 1rem 0;
    border-radius: 6px;
  }
  .tenet {
    margin: 1rem auto;
  }
  .tenetDummy {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
