.main {
  background-color: var(--bodyBgClr2);
  padding: 2rem 8rem;
}

.banner {
  padding: 2rem;
  border-radius: 12px;
  background-color: var(--pBgClr);
  width: 100%;
  max-width: 100%;
}

.banner p {
  color: var(--textCls);
  line-height: 1.7;
  width: 100%;
  max-width: 100%;
  letter-spacing: 0.4px;
}

@media (min-width: 756px) {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 1rem;
    gap: 1rem;
  }
}

.title {
  letter-spacing: 0.6px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 756px) {
  .main {
    padding: 0;
    margin: 0;

    padding-bottom: 1rem;
  }

  .banner {
    padding: 0;
    margin: 0;
    padding: 1rem;
    margin: 2rem 0;
  }
  .title {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .personalities {
    padding-left: 1rem;
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .child {
    width: calc(50% - 1rem);
  }
}
