.main {
  margin-top: 4rem;
}

.box {
  background-color: var(--pBgClr);
  padding: 3rem;
  border-radius: 10px;
  color: var(--textCls);
  line-height: 1.7;
  text-align: center;
  margin-bottom: 2rem;
}

.listParent {
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.dragTitle {
  color: #ccc;
  font-style: italic;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;

  /* justify-content: center; */
}
@media (max-width: 756px) {
  .list {
    justify-content: center;
  }
}

.img {
  width: 24px;
  object-fit: contain;
}

.uDetail {
  border: 1px solid black;
  display: flex;

  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
  gap: 0.6rem;

  padding: 0.8rem;
  border-radius: 10px;
  width: calc(50% - 1rem);
  cursor: pointer;
  align-items: center;
}

.name {
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.4px;
  font-size: 0.8rem;
  /* white-space: nowrap; */
}

.detail {
  color: #1d1d1d;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tenets {
  display: flex;
  max-width: 80%;
  align-items: center;
  flex-wrap: wrap;
}

.tenets button {
  border: none;
  outline: none;
  padding: 1rem;
  width: 40%;
  margin: 1rem;
  margin-left: 0;
  border-radius: 12px;
  background-color: inherit;
  color: var(--textCls);
  border: 2px solid var(--imgBg);
  font-size: 1rem;
  font-family: inherit;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 756px) {
  .tenets,
  .main,
  .box {
    margin: 0;
    padding: 0;
    gap: 0;
    display: block;
  }

  .main {
    padding: 1rem;
  }
  .box {
    padding: 1rem;
    /* text-align: justify; */
    text-align: left;
  }

  .tenets {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .name {
    white-space: wrap;
  }
  .uDetail {
    width: 80%;
    padding: 1rem 0;
    gap: 1rem;
    justify-content: center;
    border-color: #ccc;
    
  }
}
