.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}

.listParent {
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 400px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  flex: 1;
  width: 100%;
}

@media (min-width: 756px) {
  .listParent {
    width: 440px;
  }
}

.dragTitle {
  color: #ccc;
  font-style: italic;
  margin-bottom: 1rem;
}

.img {
  width: 24px;
  object-fit: contain;
}

.uDetail {
  /* border: 1px solid black; */
  border: 1px solid #ccc;
  display: flex;
  gap: 0.6rem;
  padding: 0.8rem;
  border-radius: 10px;
  /* width: calc(50% - 1rem); */
  cursor: pointer;
  align-items: center;
  margin: 1rem 0;
  transition: height 0.4s ease;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  min-height: 160px;
}

@media (max-width: 756px) {
  .list {
    justify-content: center;
  }
}

.name {
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.4px;
  font-size: 0.8rem;
  /* white-space: nowrap; */
}

.detail {
  color: #1d1d1d;
  line-height: 1.4;
  /* -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden; */
  /* display: none; */
}

.tenets {
  display: flex;
  max-width: 80%;
  align-items: center;
  flex-wrap: wrap;
}

.tenets button {
  border: none;
  outline: none;
  padding: 1rem;
  width: 40%;
  margin: 1rem;
  margin-left: 0;
  border-radius: 12px;
  background-color: inherit;
  color: var(--textCls);
  border: 2px solid var(--imgBg);
  font-size: 1rem;
  font-family: inherit;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 756px) {
  .tenets,
  .main,
  .box {
    margin: 0;
    padding: 0;
    gap: 0;
    display: block;
  }

  .main {
    padding: 1rem;
  }
  .box {
    padding: 1rem;
    text-align: left;
  }

  .tenets {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .name {
    white-space: wrap;
  }
  .uDetail {
    width: 100%;
    padding: 1rem 1rem;
    gap: 1rem;
    border-color: #ccc;
  }
}

.viewSec {
  background-image: url("../../../../../assts/potratebg.png");
  height: 400px;
  width: 340px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 14px;
  margin: 2rem 1rem;
}

.userImg {
  height: 90%;
  width: 82%;
  object-fit: cover;
  object-position: center;
  border-radius: 14px;
}

@media (min-width: 1600px) {
  .listParent {
    width: 600px;
  }

  .uDetail {
    min-height: 180px;
  }
  .img {
    width: 42px;
  }
  .dragTitle {
    font-size: 1.4rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .detail {
    font-size: 1.1rem;
  }
}
